.gridStyle {
    background: white;
    --rdg-header-background-color: white;
    --rdg-background-color: white;
    --rdg-row-hover-background-color: grey;
    --rdg-border-color: white;
    --rdg-color: black;
}

.even-row {
  background-color: white;
}

.odd-row {
  background-color:grey;
}
