table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  /* border: 1px solid black; */
  border: none;
}

.line-under {
  border-bottom: 2px solid black; /* Adds a line under the row */
}

th, td {
  padding: 8px;
  text-align: left;
}

.striped-table tr:nth-child(even) {  
  background-color: #ffffff; /* White color for odd rows */  
}

.striped-table tr:nth-child(odd) {
  background-color: #f2f2f2; /* Grey color for even rows */
}


.padded-bottom {
  padding-bottom: 10px; /* Adjust the value as needed */
}

.wide-textarea {
  width: 400px;
}



